*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 100%;
    color: #0d0d0d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    padding-top: 15px;
    margin: 0 auto 1%;
    width: 60.912vw;
    height: 100%;
    min-height: 50px;
    min-width: 300px;
}
section {
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.31);
    border: solid 1px #cbc9c9;
    margin: 3% auto;
    width: 85%;
    height:85%;
    min-height: 85%;
    padding: 15px;
    font-size: 75%;
}
.title{
    font-size: 200%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    color: #a9a9a9;
    opacity: .3;
}

section label {
    display: block;
    margin: 5px;
}

section  .input-div, .displaySection {
    width: 85%;
    height: 100%;
    margin: auto;
}

ul {
    list-style-position: inside;
}

input[type="text"] {
    padding-left: 15.35px;
    height: 46px;
    display: inline-block;
    min-height: 30px;
}

textarea {
    max-width: 100%;
    height: 15vw;
    padding: 5px;
    display: inline-block;
    overflow: auto;
    min-height: 150px;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    border: 1px solid #cbc9c9;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.09);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.submitButton {
    border: 1px solid slateblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px rgba(93,93,213,0.75);
    -moz-box-shadow: 0 3px rgba(93,93,213,0.75);
    box-shadow: 0 3px rgba(93,93,213,0.75);
    background-color: slateblue;
    color: white;
    font-weight: 600;
    padding: 3%;
    margin: 15px auto;
    width: 26%;
    left:37%;
    position: relative;
    top: 0;
    -webkit-transition: all .1s cubic-bezier(0.72,0.15,0.81,0.46);
    -moz-transition: all .1s cubic-bezier(0.72,0.15,0.81,0.46);
    -ms-transition: all .1s cubic-bezier(0.72,0.15,0.81,0.46);
    transition: all .1s cubic-bezier(0.72,0.15,0.81,0.46);
}

.submitButton:hover {
    top: 3px;
    background-color: #330080;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#error-report {
    color: red;
    margin: 15px 0px;
    width: 100%;
    height: 100%;
    min-height:30px;
    font-weight: bold;
    display: none;
    text-align: center;
}

.time {
    display: none;
}

footer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #7059ae;
    text-decoration: none;
    font-size: 114.3%;
}

footer p {
    font-size: 75%;
    padding-top: 5px;
    color: #4d4d4d;
}

article {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 125%;
    text-align: justify;
}

article ul li {
    margin:11.5px 0;
}

.doc-title {
    margin: 15px 0;
    font-weight: bold;
}

.algorithm {
    display: none;
}

/* Phones */
@media (max-width: 735px) {
    .submitButton {
        width: 100%;
        left: 0px;
    }

    main {
        width: 95vw;
    }
}



